
<div class="property-row-container">
    <div class="property-row">
        <div class="property-row-title" >
            {{'NODE.RESOURCEID' | translate}}
        </div>
        <div class="value"> 
            <div ng-controller="namePropertyCtrl">
                <input type="text" 
                    ng-model="selectedItem.resourceId"
                    class="form-control node-name" 
                    placeholder=" {{'NODE.placeholder' | translate}}" 
                />
            </div>
        </div>
    </div>
    <div class="property-row">
        <div class="property-row-title">
            {{'Line.remark' | translate}}
        </div>
        <div class="value"> 

            <div ng-controller="namePropertyCtrl">
                <input type="text" ng-model="selectedItem.title"
                    class="form-control node-name" 
                    ng-blur="inputBlurred()"
                    ng-keypress="enterPressed($event)"
                    ng-click="namePropertyClicked()" 
                    placeholder="{{'Line.remark.placeholder' | translate}}" 
                />
            </div>

        </div>
    </div>
</div>
