.selected-item-body {
    .and {
        font-size: 14px;
        color: #9fc1d6;
        margin-left: 10px;
    }
    .addmoreContainer {
        text-align: right;
        padding: 8px 2px;
        cursor: pointer;
        .addmore {
            font-size: 15px;
            color: #68ccf7;
            text-align: right;
        }
    }
    .header-comment {
        font-size: 14px;
        color: #c3c3c3;
        margin: 0 5px;
    }
    .isolation-line {
        width: auto;
        height: 1px;
        margin: 0;
        background-color: #a4acb9;
    }
    .propertyCtrlContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .approvePropertyCtrl {
        flex: 1;
    }
    .section-title {
        font-size: 16px;
        font-weight: bold;
        padding: 6px 5px;
        // margin-bottom: 5px;
        margin: 5px 0px;
    }
    .content {
        font-size: 14px;
    }
}

.approvePropertyCtrl {
    .character-container {
        margin: 5px 10px;
    }
}

.branchSequenceFlowPropertyCtrl {
    .radio-box {
        width: 65%;
        display: flex;
        justify-content: space-between;
    }
    .radio-lable {
        font-size: 16px;
    }
    .radio {
        display: inline-block;
        margin: 5px;
    }
}

.parallelApprovePropertyCtrl {
    -webkit-user-select: none;
    /* Chrome all / Safari all /opera15+*/
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.clearfix {
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 999;
}

input:hover {
    cursor: text;
}
