
.icon-add{
    font-weight: 800!important;
        padding: 0px 5px;
}
.icon-jian {
    font-size: 18px !important;
    color: white;
    margin-left: 2px;
    margin-bottom: 4px;
    vertical-align: middle;
    background-color: red;
    border-radius: 15px;
    transition: 0.5s;
}

.icon-jian:hover {
    transform:rotate(180deg);
    font-size: 24px !important;

}
.icon-sanjiao1 {}

.icon-sanjiao3 {}

.icon-anzhuoxiala {
    font-size: 10px !important;
}

.icon-guanbi2fill {
    font-size: 24px !important;
    color: red;
    margin-left: 3px;
    vertical-align: middle;
}

.icon-salefill {}

.icon-icon-test {
    font-size: 24px !important;
    vertical-align: middle;
    padding-bottom: 3px;
}


.icon-icon-test {
    font-size: 20px;
}

.inverted-triangle {
    font-size: 10px;
}


