.branchSequenceFlowPropertyCtrl {
    .condition-container {
        margin: 8px;        
        .delete-frame {
            border: 1px solid red;
        }
    }
    .radio-box {
        width: 75%;
        display: flex;
        justify-content: space-between;
    }
    .radio-lable {
        font-size: 14px;
    }
    .radio {
        display: inline-block;
        margin: 5px;
    }
    .the3dots {
        margin-right: 8px;
        -webkit-user-select: none;
        /* Chrome all / Safari all /opera15+*/
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
    }
    .rule-control {
        position: absolute;
        right: 22px;
        z-index: 9999;
        margin-top: 30px;
        .placeholder {
            height: 30px;
        }
        .options {
            -webkit-box-shadow: 0 0 10px #CCC;
            -moz-box-shadow: 0 0 10px #CCC;
            box-shadow: 0 0 10px #CCC;
            background-color: white;
            width: 100px;
            -webkit-user-select: none;
            /* Chrome all / Safari all /opera15+*/
            -moz-user-select: none;
            /* Firefox all */
            -ms-user-select: none;
            /* IE 10+ */
            user-select: none;
            .option {
                height: 30px;
            }
            .option + .option {
                border-top: 1px solid #ccc;
            }
        }
    }
}
