.branchNodePropertyCtrl{
    .row-title {
        font-size: 14px;
        padding: 6px 0px;
        margin-top: 4px;
    }
    .content-text {
        font-size: 14px;
        color:#333;
        padding-bottom: 8px;
    }
}