.branch-dropdown {
    display: inline-block;
    // margin: 0px 4px;
    background-color: white;
    -webkit-user-select: none;
    /* Chrome all / Safari all /opera15+*/
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    margin: 0 1px;
    .drop-down-placeholder {
        font-size: 14px;
        padding: 0px 14px;
        height: 1px;
        display: hidden;
    }
    .drop-down-choosed {
        border: 1px solid #dde4ef;
        height: 32px;
        line-height: 30px;
        font-size: 13px;
        padding: 0px 7px;
        justify-content: space-between;
    }
    .drop-down-choosed:hover {
        border: 1px solid black;
        color: black;
    }
    .drop-down-table {
        // margin-top: -5px;
        position: absolute;
        text-align: left;
        background-color: white;
        .drop-down-options {
            background-color: white;
            border-left: 1px solid #dde4ef;
            border-bottom: 1px solid #dde4ef;
            border-right: 1px solid #dde4ef;
            .drop-down-option + .drop-down-option {
                border-top: 1px solid #dde4ef;
            }
            .drop-down-option {
                .inner-option{
                    padding: 0px 5px;
                    height: 25px;
                    line-height: 25px;
                    font-size: 13px;
                    margin: 3px;
                    min-width: 66px;

                }
            }
            .inner-option:hover {
                background-color: #e4f5fb;
            }
            .inner-option:active {
                // border: 1px solid white;
                // background-color: #00b0ff;
                // color: white;
            }

        }
    }
}
